{% extends 'base.html' %}
{% block content %}
<h1> Your cart</h1>

{% if cart|length == 0 %}
<hr>
<h1> Oh no, it looks like you haven't added anything to your cart :(</h1>
<h3> Add some things to your cart in order to check out!</h3>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total Cost</td>
            <td></td>
        </tr>  
    </thead>
  {% for order in cart %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>
          <form class="form-inline edit-form" method="POST" action="/order/{{order.id}}/edit">
                {% csrf_token %}
                <input class="form-control" type="number" name="quantity" value="{{order.quantity}}"> 
                <button class="btn btn-sm btn-primary" type="submit">Change Quantity</button>
          </form>
      </td>
      <td>$ {{order.product.price}}</td>
      <td>$ {{order.price}}</td>
      <td><a role="button" class="btn btn-danger" href="/order/{{order.id}}/delete">Delete</a></td>
  </tr>
  {% endfor %}
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="right">Order Cost: ${{current.price}}</td>
  </tr>
</table>
  <a class="btn btn-success" href="/cart/checkout" id="checkout">Checkout</a>
{% endif %}
{% endblock %}
