{% extends 'base.html' %}
{% block content %}
<h1> Your cart</h1>

{% if cart|length == 0 %}
<hr>
<h1> Oh no, it looks like you haven't added anything to your cart :(</h1>
<h3> Add some things to your cart in order to check out!</h3>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td></td>
        </tr>  
    </thead>
  {% for order in cart %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>{{order.quantity}}</td>
      <td><a class="btn btn-sm btn-delete" href="/order/{{order.id}}/delete">Delete</a></td>
  </tr>
  {% endfor %}
</table>
  <button class="btn btn-success">Checkout</button>
{% endif %}
{% endblock %}
