{% extends 'base.html' %}

{% block content %}
<h1>Review Your Order</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Cost</th>
            <th></th>
        </tr>  
    </thead>
  {% for order in orders %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>
          <p>{{order.quantity}}</p>
      </td>
      <td>$ {{order.product.price}}</td>
      <td>$ {{order.price}}</td>
  </tr>
  {% endfor %}
  <tr>
      <td></td>
      <td></td>
      <td class="right">Subtotal:</td>
      <td>$ {{current.price}}</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td class="right">Discounts: </td>
      <td>$ {{current.discount_amount}}</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td class="right">Total:  </td>
      <td>$ {{current.final_price}}</td>
  </tr>
</table>
<h3> If this isn't what you wanted press <a href="/cart">here</a> to edit your order</h3>
<form class="form-inline" method="POST" action="/cart/coupon">
  {% csrf_token %}
  <div class="form-group">
    <input class="form-control" placeholder="COUPON CODE" name="coupon">
  </div>
  <button class="btn btn-lg btn-success" type="submit">Apply</button>
</form>
<form class="form-inline" method="POST" action="/cart/checkout">
  {% csrf_token %}
  <button class="btn btn-lg btn-success" type="submit">Order!</button>
</form>
{% endblock %}
