{% extends 'base.html' %}

{% block content %}
<h1>Review Your Order</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total Cost</td>
            <td></td>
        </tr>  
    </thead>
  {% for order in orders %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>
          <p>{{order.quantity}}</p>
      </td>
      <td>$ {{order.product.price}}</td>
      <td>$ {{order.price}}</td>
  </tr>
  {% endfor %}
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="right">Order Cost: ${{current.price}}</td>
  </tr>
</table>
<h3> If this isn't what you wanted press <a href="/cart">here</a> to edit your order</h3>
<form class="form-inline" method="POST" action="/cart/checkout">
  {% csrf_token %}
  <button class="btn btn-lg btn-success" type="submit">Order!</button>
</form>
{% endblock %}
