{% extends 'base.html' %}

{% block content %}
<h1> Hi from the home page</h1>
{% for product in products %}
<img src="{{product.image_url}}">
<p>{{product.name}}</p>
<div>
    {% if user.is_authenticated %}
    <form method="POST" action="/cart">
    {% csrf_token %}
    <input type="text" value="{{product.id}}" hidden name="product"> 
    <input type="number" placeholder="Quantity" name="quantity">
    <button type="submit" class="btn btn-sm btn-primary ">Add to cart</button>
    </form>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
