<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="/">Maui Wowie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shirts">Shirts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pants">Pants</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/cart">My Cart
          {% if request.session.cart and request.session.cart != 0 %}
          <span id="cart">({{request.session.cart}})</span>
          {% endif %}
        </a>
      </li>
      {% if user.is_authenticated  %}
      <li class="nav-item active">
        <a class="nav-link" href="/order_history">Order History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
