{% extends 'base.html' %}

{% block content %}
{% for cart in carts %}
<h2>{{cart.date}}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td></td>
        </tr>  
    </thead>
  {% for order in cart.orders.all %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>
          <form class="form-inline edit-form" method="POST" action="/order/{{order.id}}/edit">
                {% csrf_token %}
                <input class="form-control" type="number" name="quantity" value="{{order.quantity}}"> 
          </form>
      </td>
  </tr>
  {% endfor %}
</table>

{% endfor %}
{% endblock %}
