{% extends 'base.html' %}

{% block content %}
{% for cart in carts %}
<h2>{{cart.date}}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total Cost</td>
            <td></td>
        </tr>  
    </thead>
  {% for order in cart.orders.all %}
  <tr>
      <td>{{order.product.name}}</td>
      <td>
          <p>{{order.quantity}}</p>
      </td>
      <td>$ {{order.product.price}}</td>
      <td>$ {{order.price}}</td>
      <td><a class="btn btn-delete" href="/order/{{order.id}}/delete">Delete</a></td>
  </tr>
  {% endfor %}
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="right">Order Cost: ${{cart.price}}</td>
  </tr>
</table>

{% endfor %}
{% endblock %}
