{% extends 'base.html' %} 

{% block content %}

<div class="products">
  <div class="row">
    {% for product in products %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.image_url}}" alt="Product Image">
      <div class="card-body">
          <h5 class="card-title">{{product.name}} - ${{product.price}}</h5>
        <p class="card-text">{{product.description}}</p>
        <form method="POST" action="/cart">
        {% csrf_token %}
        <input type="text" value="{{product.id}}" hidden name="product"> 
        <div class="form-group">
        <input type="number" placeholder="Quantity" name="quantity">
        </div>
        <button type="submit" class="btn btn-sm btn-primary ">Add to cart</button>
        </form>
      </div>
      </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
